* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: white;
  height: 60px;
  justify-content: center;
  text-align: left;
  padding: 0 20px;
  font-weight: 600;
}

.widget-editor-wrapper {
  height: calc(100vh - 100px);
  width: calc(100vw - 40px);
  padding: 20px;
  background-color: #424448;
}